@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Software Engineering ORCA Fall 2016: Adam Roberts, Ryan Dixon , & Nate Miklas</p>
    </div>
</div>