@model ORCA30523.Models.Post

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Update", "Message", FormMethod.Post, new { @class = "form" }))
{
    Html.RenderPartial("_PostForm");
}

