@model IEnumerable<ORCA30523.Models.Ticket>
@{
    ViewBag.Title = "Details";
}

<h2 style="color:#079449;">Details</h2>
<div>
    <h4>Message.</h4>
    <hr />
    </div>
@if (Model != null)
{
    foreach (var experts in Model)
    {
    <dl class="dl-horizontal" style="width:100%">
        <dt style="width: 100%; text-align:center;">
            From: @experts.FromEmail
        </dt>
        <dt style="width: 100%; text-align:center;">
            To: @experts.ToEmail 
        </dt>
        <dt style="width: 100%; text-align:center;">
            Subject: @experts.Subject 
        </dt>
        <dt style="width: 100%; text-align:center;">
            Body: @experts.Body 
        </dt>
        <dt style="width: 100%; text-align:center;">
            ---------------------------------------------------------------------- 
        </dt> 
    </dl>
    }
}
    @*@Html.ActionLink("Back to List", "Index")*@